body {
    margin: 0;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    background-color: white;
  }

  a {
    color: #000;
  }

.card {
    background-color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    color: rgba(0,0,0,.87);
    margin: 20px;
    min-width: 300px;
    width: 350px;
    height: 400px;
    overflow: hidden;
    position: relative;
    float: left;
}
.card::after {
    clear: both;
}
.card::after, .card::before {
    content: "";
    display: block;
}
.cardImage{
  width: 100%;
  object-fit: scale-down;
  max-width:100%;
  max-height:100%;
}

.cardImageContainer{
  height: 175px;
  margin: 0 auto;
}

.googleMapContainer{
  height: 270px;
  margin: 0 auto;
}

.googlemap{
  width: 100%;
  height: 100%;
}



.flex-row-stretch {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.flex-col {
    margin-bottom: 30px;
    padding-left:15px;
    padding-right: 15px;
}



@media (max-width: 768px) {
.flex-col {
  width: 100%;
  margin-bottom: 15px;
}
}

/* If the screen goes above 768 pixels then add a full menu bar and other images, text */
@media (min-width: 768px) {
.header li {
  float: left;
}
.header li a {
  padding: 20px 30px;
}
.header .menu {
  clear: none;
  max-height: none;
}
.header .menu-icon {
  display: none;
}

.descriptionSection{
    height: 400px;
    margin-bottom: 10px;
}

.descriptionLogo{
    display: block;
}

.grid-container {
    grid-template-columns: .75fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 15px;
  }

.headerLogoSmall{
    display: none;
}

h1{
    font-size: 34px;
}

.bodyParagraphWidth{
    width: 75%;
}

.grid-item.grid-item5{
    align-self: auto;
}

.eventInformation{
    margin: auto;
    width: 80%;
}

.bigRegisterButton{
    padding: 15px 55px;
  }

.card{
  width: 400px;
}

}

/* If the screen goes above 908 pixels then add a register button to the top right */
@media (min-width: 908px){
.header .register {
    display: block;
    float: right;
    font-size: 1em;
    text-decoration: none;
  }

  .bodyParagraphWidth{
    width: 50%;
}

.grid-container {
    text-align: left;
    align-items: center;
    justify-items: normal;
  }

}
